* {
    font-family: 'IstokWeb', sans-serif;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --perfiles_background: #b8b8b8;
    --pink: #F3A3E4;
    --letra: #000000;
    --text_pink: #FA6BFF;
    /* DARK MODE */
    /* --black: #000000;
    --white: #ffffff;
    --perfiles_background: #0A1045;
    --pink: #050822;
    --letra: #ffffff; */
}

body {
    background-color: var(--perfiles_background);
    margin: 0%;
    padding: 0%;

}

html {
    scroll-behavior: smooth;
}



/* CSS HEADER */

.logo {
    width: 6rem;
}

header {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, auto);
    grid-gap: 0%;
    background-color: #000000;
    z-index: 2;
}

.item-header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-self: right;
    align-self: center;
    grid-gap: 70px;
    width: fit-content;
    margin-right: 5%;
}

.item-header p {
    color: white;
}

p ::before {
    font-size: 20px;
}

.fa-user {
    color: white;
    font-size: 2rem;
    justify-self: center;
    align-self: center;
}

.btn_registro {
    font-size: 0.8rem;
    color: #F7F2F0;
    background-color: #000000;
    text-decoration: none;
    justify-self: right;
    align-self: center;
}

.btn_header,
.header_subcripcion-free,
.header_subcripcion-basic,
.header_subcripcion-plus,
.header_subcripcion-premium {
    font-size: 0.8rem;
    color: #F7F2F0;
    background-color: #000000;
    text-decoration: none;
    justify-self: right;
    align-self: center;
    height: fit-content;
    padding: 1rem;
    width: 7rem;
    text-align: center;
    border-radius: 15px;
}

.header_subcripcion-free {
    color: #000000;
    background-color: #ffffff;
    padding: 0.7rem;
}

.header_subcripcion-basic {
    color: #000000;
    background-color: #ffffff;
    padding: 0.7rem;
}

.header_subcripcion-plus {
    color: #000000;
    background-color: #00BAFE;
    padding: 0.7rem;
}

.header_subcripcion-premium {
    color: #000000;
    background-color: #b8a345;
    padding: 0.7rem;
}

.btn_header:hover {
    color: #000000;
    background-color: #F7F2F0;
}



/* CSS FOOTER  */

footer {
    background-color: black;
}

.redes-iconos {
    display: grid;
    grid-template-columns: repeat(4, 90%);
    justify-content: center;
    justify-items: center;
    padding-top: 2%;
}

.redes-iconos a i {
    color: white;
    font-size: 2rem;
}

.container_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy {
    color: white;
    margin: 2% 0% 1%;
}

b.userLoggeado {
    font-size: 0.9rem;
}





/* CSS PRESENTACION SUPERIOR */

.presentacion {
    background-repeat: no-repeat;
    background-color: #000000;
    margin: 0%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin: 0%;
    justify-self: center;
    align-self: center;
}

h3 {
    text-align: center;
    align-self: center;
    font-size: 2rem;
    color: var(--white);
    margin: 2px 4px 0px 4px;
}

.presentacion img {
    justify-self: center;
    align-self: center;
    margin-left: 10%;
}

.presentacion_container {
    display: grid;
    justify-self: center;
    align-self: center;
    margin-top: 3%;
}

.que_ofrecemos {
    text-align: center;
    align-self: center;
    width: fit-content;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
    justify-self: center;
    align-self: center;
}




/* CSS DE PERFILES */

.perfiles {
    background-color: var(--perfiles_background);
    margin: -1%;
    margin-top: 1%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 5% 10%;

}

.tipos_perfiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2%;
}

.perfil_box {
    width: 100%;
}

.img_tipos {
    width: 100%;
    align-self: center;
    border-radius: 10px;
}

.titulo_tipo {
    text-align: center;
    align-self: center;
    margin-bottom: 0rem;
    color: var(--letra);
}

.perfies_decripcion {
    color: var(--letra);
    font-size: 100%;
    text-align: center;
}


.servicios {
    background-color: var(--pink);
    margin: 0%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    padding: 5% 10%;
    justify-items: center;
}

.h1_servicios {
    color: var(--letra);
    width: fit-content;
    height: fit-content;
}

.edit-profile button {
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    cursor: pointer;
    margin-top: 35%;
}

.edit-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-profile i {
    color: #000000;
    font-size: 1.2rem;

}

.error-message {
    background-color: #F4D6D2;
    color: #691911;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    width: 90%;
    text-align: center;
}

.succes-message {
    background-color: #caffb8;
    color: #3b7528;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
}







/* CSS HOME */
.index_content {
    background-color: #b8b8b8;
}

.titleContainer {
    width: auto;
    display: flex;
    justify-content: center;
}

.img_mascotas {
    width: 100%;
    height: 15rem;

    object-fit: cover;
    border-radius: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 5%;
    text-decoration: none;
    color: black;
    padding: 1% 0% 1% 1%;
    box-shadow: -1px -1px 15px 0px rgba(0, 0, 0, 1);
    border-radius: 20px;
    margin-bottom: 3%;
    width: 42%;
    align-items: center;
    background-color: #0a1045;
}

.petNameContainer b {
    color: white;
    font-weight: bold;
}

.petNameContainer p {
    color: #F369FF;
    font-weight: bold;
}



.container:hover {
    background-color: #161482;
}

.titleContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titleContainer a {
    text-decoration: none;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;

}

.titleContainer a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: black solid 2px !important;
}

.products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;

}

.container div {
    margin: 0%;
}

.item_img {
    text-align: right;
}

.select_feedback{
    background-color: white;
    color: black;
    border-radius: 20px;
}


/* CSS FORM ADD ANIMAL */

#form-add-animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    margin: 3% 0%;
    background-color: #0a1045;
    padding: 3%;
    border-radius: 20px;
}

@media (max-width: 920px) {
    #form-add-animal{
        width: 50%;
    }
    #form-add-animal h2 {
        font-size: 2rem;
    }

}

@media (max-width: 600px) {
    #form-add-animal{
        width: 85%;
    }
}

.add-pet-container {
    display: flex;
    justify-content: center;
    background-color: #b8b8b8;
}

#form-add-animal input,
select {
    background-color: white;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 15rem;
    border: transparent;
    border-bottom: black 0.1rem solid;
    font-size: 1rem;
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    text-decoration: none;
    text-align: center;
}

#form-add-animal .login_inputs label {
    margin-bottom: 7%;
    color: white;
    font-weight: bold;
}

#form-add-animal select {
    height: 1.9rem;
    border-radius: 1px;
    border: transparent;
    border-bottom: black 0.1rem solid;
    border-radius: 20px;
}

#form-add-animal div {
    display: flex;
    width: 30%;
    align-items: center;
    flex-direction: column;
    margin: 0%;
}

#form-add-animal .img-select {
    border-bottom: none;
    font-size: 14px;
    width: fit-content;
    border: 1px solid #ccc;
    padding: 6px 12px;
    background-color: var(--white);
    color: #555;
    border-radius: 4px;

}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#form-add-animal h2 {
    font-size: 2.5rem;
    margin: 3% 0% 1%;
    color: #F369FF;
}

#form-add-animal input:focus,
#form-add-animal select:focus {
    outline: none;
    border: transparent;
    border-bottom: #005494 0.1rem solid;
}

#form-add-animal .btn-submit {
    width: 10rem;
    height: 2rem;
    color: #F7F2F0;
    background-color: #005494;
    ;
    border-radius: 15px;
    font-size: 1rem;
}

#form-add-animal label {
    width: 200%;
    text-align: center;
}







/* DETALLE: COMIDA Y PESO ANIMAL */

.peso-naranja {
    background-color: rgb(255, 170, 0);
    padding: 1%;
    border-radius: 20px;
}

.peso-verde {
    background-color: rgb(115, 255, 0);
    padding: 1%;
    border-radius: 20px;
}

.peso-rojo {
    background-color: red;
    padding: 1%;
    border-radius: 20px;
}

.img-detalles {
    width: 15%;
}

#container-detalles-animal {
    font-size: 50%;
}

.leyenda-roja {
    width: 4rem;
    height: 4rem;
    background-color: red;
}

.leyenda-naranja {
    width: 4rem;
    height: 4rem;
    background-color: rgb(255, 174, 0);
}

.leyenda-verde {
    width: 4rem;
    height: 4rem;
    background-color: rgb(0, 255, 17);
}

.leyenda-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.leyenda-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
}

.leyenda-items h3 {
    color: black;
    font-size: 1rem;
}

.peso-animal {
    margin: 0% 10%;
}

.info_comida {
    display: grid;
    grid-template-columns: repeat(3, 115px);
    justify-items: center;
    align-items: center;
}

h1.el-peso-es {
    font-size: 2.5rem;
    margin: 10% 0%;
    color: var(--text_pink);
}

.peso_span {
    color: white
}

h1.title_pesoIdeal {
    font-size: 2rem;
    text-decoration: underline;
    color: var(--text_pink);
}

h1.title_racion {
    font-size: 2rem;
    text-decoration: underline;
    color: var(--text_pink);
}

.info_comida h1 {
    font-size: 2rem;
    margin: 0%;
}

.peso_icon {
    width: 110px;
    height: 100px;
}

h1.info_ideal {
    font-size: 2rem;
    margin: 7% 0%;
    color: var(--text_pink);
}



/* USUARIO INFORMACION */

.user-section {
    display: flex;
    flex-direction: column;
    background-color: #0a1045;
    align-items: center;
    margin: 3% 0% 5%;
    width: 50%;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 0px 0px 34px -10px rgb(0 0 0 / 75%);
    font-size: 130%;
}

.user-section h2 {
    font-size: 1.6rem;
    margin: 3% 0% 1%;
    color: #F369FF;
}

.userNameContainer {
    text-align: center;
    width: 75%;
}

.titleInfo {
    color: white;
    font-weight: bold;
    margin-bottom: 2%;
}

.userInfo {
    font-weight: bold;
    color: #F369FF;
    margin: 1%;
}

.userDetail_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b8b8b8;
}



























.registro_foto {
    width: 70%;
}

.header_registro {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: var(--perfiles_background);
}



.singupBtn {
    width: 9rem;
    font-size: 1rem;
    border-radius: 20px;
    margin-right: 2%;
    align-self: center;
    color: rgb(0, 0, 0);
    background-color: var(--white);
    padding: 1rem;
    text-decoration: none;

}

b {
    align-self: center;
}

.singupBtn:hover {
    background-color: rgb(183, 170, 170);
    text-decoration: none;
}








.registro_btn {
    align-self: flex-start;
    height: 3rem;
    width: 9rem;
    font-size: 1.2rem;
    border-radius: 20px;
    margin-right: 2%;
    color: var(--black);
    background: linear-gradient(0deg, rgba(255, 231, 0, 1) 0%, rgba(251, 14, 254, 1) 100%);
}

.registro_btn:hover {
    background: linear-gradient(0deg, rgb(195, 142, 20) 0%, rgb(150, 57, 123) 100%);
}

.nube_white {
    width: 110%;
    margin-left: -5%;
    margin-top: 3%;
}

.nube_rosa {
    width: 110%;
    margin-left: -7.7%;
    margin-top: 0%;
}



.login {
    background-color: #b8b8b8;
    margin: 0%;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    justify-items: center;
}

.login_inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

.login form {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    box-shadow: -1px -1px 15px 0px rgba(0, 0, 0, 1);
    border-radius: 20px;
    background-color: #0a1045;
}

.login .register {
    height: 65%;

}

.login_form {
    background-color: white;
    height: 3rem;
    width: 89%;
    margin-left: 4%;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    border-radius: 20px;
}

.box_input {
    justify-content: center;
}

#login_icon {
    font-size: 1.5rem;
    color: var(--white);
}

.inicio_sesion_btn {
    height: 100%;
    width: 9rem;
    font-size: 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    align-self: center;
    color: var(--white);
    background: linear-gradient(0deg, rgba(255, 231, 0, 1) 0%, rgba(251, 14, 254, 1) 100%);
    padding: 1rem;
    text-decoration: none;
}

.inicio_sesion_btn:hover {
    background: linear-gradient(0deg, rgb(195, 142, 20) 0%, rgb(150, 57, 123) 100%);
}

.registro_progress {
    background-color: var(--perfiles_background);
    display: flex;
    justify-content: center;
}

#btn_volver {
    height: fit-content;
    width: 9rem;
    font-size: 1rem;
    border-radius: 20px;
    margin-top: 0.5rem;
    align-self: center;
    color: var(--black);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

#btn_volver:hover {
    background-color: rgb(115, 115, 115);
}

.login_form:focus {
    outline: none;
    border: transparent;
    border-bottom: #005494 0.1rem solid;
}

.h1_register {
    align-self: center;
    font-size: 250%;
    margin-top: 0%;
    padding-top: 3%;
    color: var(--letra);
    width: 35rem;
    text-align: center;
}

.registro_tipo {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.btn_avance2 {
    width: 9rem;
    font-size: 1rem;
    border-radius: 20px;
    color: #F7F2F0;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    text-decoration: none;
    background: linear-gradient(180deg, rgba(0, 84, 148, 1) 0%, rgba(163, 0, 117, 1) 100%);
}

.btn_avance2:hover {
    background: linear-gradient(90deg, rgba(0, 84, 148, 1) 0%, rgba(163, 0, 117, 1) 100%);
}



.btn_registro:hover {
    background-color: #006cbe;
}


.registro_tipo_individual {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 3%;
    margin: -3% 0% 2% 0%;

}

.registro {
    background-color: var(--perfiles_background);
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorpass {
    color: red;
}

.validated {
    color: #00853c;
}


form>div>div {
    align-self: center;
}

.oculto {
    display: none;
}

h1 {
    text-align: center;
    font-size: 250%;
    margin-top: 0%;
    padding-top: 3%;
    color: var(--letra);
}

.titulo_login {
    align-self: center;
    font-size: 250%;
    color: #F369FF;
    margin-top: -12%;
    margin-bottom: 8%;
}
















.login_superior {
    background-color: var(--black);
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.foto_login {
    width: 100%;
    object-fit: cover;
}
@media (max-width: 750px) {
    .pet-details-pet-info-container p {
        font-size: 1rem;
    }

}
@media (max-width: 700px) {
    .error-button-container{
    position: inherit !important;
    }
    .proceso-pago-general {
        margin-top: -6.1rem;
    }
    .pet-details-pet-info-container{
        grid-template-columns: repeat(1, 271px) !important;
    }

    img.pet-detail-image {
        width: 80px;
        height: 80px;
    }

    .errro-details {
        width: 15rem;
        margin-top: 5%;
        font-size: 135%;
    }

}
@media (max-width: 600px) {
    .btn_header {
        font-size: 0.7rem;
        padding: 0.5rem;
        width: fit-content;
    }

    .h1_register {
        font-size: 200%;
        width: 22rem;
    }

    b.userLoggeado {
        font-size: 0.8rem;
    }

    .item-header {
        grid-gap: 15px !important;
    }

    .img_mascotas {
        width: 16rem;
        height: 10rem;
    }

}

@media (max-width: 550px) {
    h1 {
        font-size: 150%;
    }

    .password_feedback {

        font-size: 65%;
    }

    .btn_registro b {
        font-size: 75%;
    }

    #form-add-animal h2 {
        font-size: 185%;
    }

    .login_form {
        height: 1rem;
        width: 8rem;
        font-size: 0.6rem;
    }


    .presentacion img {
        width: 60%;
    }

    .que_ofrecemos {
        font-size: 1rem;
    }

    .titulo_tipo {
        font-size: 1.3rem;
    }

    .titulo_login {
        font-size: 140%;
    }

    .presentacion_container h3 {
        font-size: 1rem;
    }

    .perfies_decripcion {
        font-size: 80%;
    }

    .perfil_box .tipos_perfiles {
        margin-bottom: 20%;
    }

    .perfiles {
        padding-bottom: 20%;
    }

    .servicios {
        padding-bottom: 85%;
    }



    .logo {
        width: 4rem;
    }

    .btn_avance2 {
        width: 6rem;
        font-size: 0.7rem;
        height: 2rem;
        padding: 0;
    }

    #btn_volver {
        width: 6rem;
        font-size: 0.7rem;
        padding: 7%;
    }

}

@media (max-width: 1410px) {
    .servicios {
        padding-bottom: 10%;
    }
}

@media (max-width: 1200px) {
    .proceso-pago-general {
        margin-top: -7.1rem;
    }
}
@media (max-width: 1330px) {
    .container_planes {
        margin-bottom: 73% !important;
    }
    #form-add-animal h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 900px) {
    .item-header {
        grid-gap: 0px;
    }

    .servicios {
        padding-bottom: 25%;
    }

    .container {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        justify-items: center;
        padding: 3% 0%;
        text-align: center;
        width: 80%;
    }
}

@media (max-width: 950px) {

    .login form {
        margin: 3% 0%;
    }

    .login {
        display: flex;
        flex-direction: column-reverse;
    }

    .login_superior {
        display: none;
    }

    .login .register {
        height: auto;
        width: auto;
    }
    #vista-vacunas-selector, #vista-forma-fisisca-selector, #vista-alimentacion-selector {
        font-size: 230%;
    }
    .titulo-funcion {
        font-size: 380%;
        color: #f370f9;
    }
    h1.el-peso-es {
        font-size: 1.5rem;
    }

    h1.info_ideal {
        font-size: 1.5rem;
    }
    h1.title_pesoIdeal {
        font-size: 1.8rem;
    }
    h1.title_racion {
        font-size: 1.8rem;
    }
    .peso_icon {
        width: 80px;
        height: 90px;
    }
    .info_comida h1 {
        font-size: 1.5rem;
    }
    #form-add-animal h2 {
        font-size: 1.5rem;
    }

}

.user-section {
    width: 35%;
}



/*Detalles del animal*/
#container-detalles-animal {
    padding: 30px 0;
    background-color: #b8b8b8;
}


.detalles-animal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0% 3%;
}

.pet-details-right-div {
    min-width: 400px;
    width: 60%;
}

.pet-details-pet-info-container {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 271px);
    background-color: #0a1045;
    box-shadow: -1px -1px 15px 0px rgba(0, 0, 0, 1);
    border-radius: 20px;
    padding: 5%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


.pet-details-type-info-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pet-details-pet-image-container {
    width: fit-content;
    text-align: center;
    margin-bottom: -6%;
}



.advanced-info-selector {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1% 0%;
    font-weight: bold;
    color: white;
}


#advanced-info-selector:hover, #simple-info-selector:hover{
    cursor:pointer;
}

.advanced-info-selector .selector_ofrecemos:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}

.advanced-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1% 0%;
}

h1.dog_name {
    font-size: 400%;
    margin-bottom: 0%;
}

img.pet-detail-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -1px -1px 15px 0px rgba(0, 0, 0, 1);
}

.pet-detail-image {
    width: 85%;
    margin-top: 16%;
}

.nombre-detail {
    margin-bottom: 0%;
    font-size: 350%;
}

.pet-details-type-info-selector p {
    font-size: 200%;
    font-weight: bold;
}

.pet-details-pet-info-container p {
    font-size: 300%;
    font-weight: bold;
    text-align: center;
}

.pet-details-type-info-selector .info-selector p {
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 35%;
    background-color: black;
    padding: 12px;
    width: 96%;
    height: fit-content;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.pet-details-type-info-selector .info-selector p:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: var(--black) solid 1px;
    transition: 0.5s;
}

.hidden {
    display: none;
}

.advanced-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a1045;
    min-height: 400px;
    justify-content: inherit;
}

.pet-details-type-info-selector div {
    width: 11rem;
    text-align: center;
    margin-bottom: -5%;
}

/*Forma fisica*/


.titulo-peso-ideal,
.peso-inferior,
.peso-intermedio,
.peso-extremo {
    font-size: 250%;
    margin: 0% 10%;
}

.titulo-funcion {
    font-size: 400%;
    color: #f370f9;
}

#forma-fisica-container {
    width: 100%;
}

.formaFisicaTable {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.physicalError {
    width: 100%;
    text-align: center;
}


.physicalActivitiesTotalTime {
    margin: 0;
    text-align: end;
    width: 30%;
}

.totalTimeContainer {
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
}

p.physicalActivitiesRecomendedTime{
    font-size: 0.7rem;
}

.formaFisicaTable{
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin-top: 10px;
    margin-top: 35px;
}

.formaFisicaTable td {
    border-top: solid 1px white;
    border-left: 0px;
    border-right: 0px;
    width: 33%;
}

.formaFisicaTable, td {
    border-left: solid 1px white;
}

.formaFisicaTable, td:last-of-type {
    border-right: solid 1px white;
}

.formaFisicaTable, tr:last-of-type{
    border-bottom: solid 1px white;
}

p.totalTimeContainer {
    font-size: 0.5rem;
}


.addPhysicalActivityBtn{
    font-size: 0.9rem;
}
.addPhysicalActivityBtnContainer{
    margin-bottom: 15%;
    margin-top: 10px;
}

p.physicalActivityNota{
    font-size: 0.6rem;
    color: white;
}

.physicalActivityfullWidth{
    width: 100%;
    display: flex;
    justify-content: center;
}

.physicalError{
    color: white;
}

@media (max-width: 550px) {
    .addPhysicalActivityBtn{
        font-size: 0.65rem;
    }
}

@media (max-width: 900px) {
    #vista-vacunas-selector, #vista-forma-fisisca-selector, #vista-alimentacion-selector {
        font-size: 1.2rem;
    }

    .physicalActivitiesTotalTime {
        font-size: 1rem !important;
    }

    .pet-details-type-info-selector .info-selector p {
        font-size: 150%;
        width: 75%;
    }
    h1.dog_name{
        font-size: 300%;
    }
    .edit-profile button{
        font-size: 0.8rem;
    }
    .edit-profile i {
        font-size: 0.8rem;
    }

}

/* PLANES DEL SEGURO */

.container_planes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
    justify-content: center;
    grid-gap: 5%;
    margin-bottom: 5%;
}

.plan-details ul {
    list-style-type: none;
}

.price_container {
    margin-bottom: 4%;
}

.plan {
    padding: 5%;
    border: 2px black solid;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
}

.plan-premium {
    padding: 5%;
    border: 2px black solid;
    text-align: center;
    border-radius: 20px;
}

.plan.plan-intermedio {
    background-color: #00BAFE;
}

h2.plan-title {
    font-size: 200%;
    margin: 3% 0%;
}

.plan-price {
    font-size: 170%;
    font-weight: bold;
    margin-bottom: 6%;
    text-align: center;
}

.plan-coverage {
    font-weight: bold;
}

.plan-details,
.plan-details-premium {
    text-align: left;
    line-height: 235%;
}

.plan-popular {
    margin: 3% 16% 0%;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    font-size: 138%;
    font-weight: bold;
}

.plan-popular ::before {
    color: #dc8200;
    font-weight: bold;
}

.btn_Adquirido {
    font-size: 0.8rem;
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: #fc535e;
    color: rgb(0 0 0);
}

.btn_Adquirido:hover {
    background-color: #fc212f;
}

.btn-subscribe {
    font-size: 0.8rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.btn-subscribe:hover {
    background-color: white;
    color: black;
}

.disiplayNone {
    display: none !important;
}

a {
    transition: 0.5s;
}

#form-add-animal .error-message {
    width: 80%;
}

.errro-details {
    width: 20rem;
    margin-top: 5%;
    font-size: 165%;
}

.error-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -10px;
    left: 139px;
    width: fit-content;
}
.proceso-pago-general {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -13%;
    margin-top: -9rem;
}

.proceso-pago {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    padding: 5%;
    z-index: 1;
}

@media (max-width: 450px) {
    .btn_header {
        font-size: 8px;
        padding: 0.4rem;
        width: auto;
    }

    #form-add-animal .img-select {
        font-size: 12px;
        width: fit-content;
    }

    .plan {
        font-size: 65%;
        margin: 0% 10%;
    }

    .h1_register {
        font-size: 147%;
        width: 19rem;
    }

    .item-header {
        width: fit-content;
        margin-right: 2%;
        grid-column-gap: 10px !important;
    }

    header {
        grid-gap: 0%;
    }

    .item-header {
        grid-gap: 16px !important;
    }

    b.userLoggeado {
        font-size: 10px;
    }

    .copy {
        font-size: 80%;

    }

    .redes-iconos a i {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 16px;
    }

    .titleContainer a {
        padding: 8px;
        font-size: 11px;
    }
    .pet-details-right-div {
        width: 90%;
        min-width: 0;
    }

    .pet-details-type-info-selector .info-selector p{
        font-size: 110%;  
        width: 77%;
    }
    img.pet-detail-image {
        width: 60px;
        height: 60px;
    }
    .errro-details {
        width: 13rem;
        margin-top: 5%;
        font-size: 120%;
    }

    #vista-vacunas-selector, #vista-forma-fisisca-selector, #vista-alimentacion-selector {
        font-size: 0.7rem;
    }
    .titulo-funcion {
        font-size: 1.6rem;
    }
    h1.el-peso-es {
        font-size: 1.2rem;
    }

    h1.info_ideal {
        font-size: 1.2rem;
    }
    h1.title_pesoIdeal {
        font-size: 1.6rem;
    }
    h1.title_racion {
        font-size: 1.6rem;
    }
    .peso_icon {
        width: 50px;
        height: 90px;
    }
    .info_comida h1 {
        font-size: 1.5rem;
    }
    .info_comida {
        display: grid;
        grid-template-columns: repeat(3, 80px);
    }

    #form-add-animal input, select {
        height: 1rem;
        width: 13rem;
        font-size: 0.8rem;
        
    }
    #form-add-animal select {
        height: 1.5rem;
        width: 14rem;
    }

}

 .vaccine-table {
    overflow-x:auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: white;
    margin-bottom: 15%;
    min-width: 300px
 }

 .vaccine-table th,
 .vaccine-table td {
    text-align: left;
    padding: 8px;
     font-size: 80%;
     min-width: 200px;
 }

 .pet-details-pet-center {
    background-color: rgb(8, 13, 55);
 }

 .backArrow {
    color: white;
    font-size: 200%;
 }